@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body {
    background-color: #121212; /* Fondo oscuro para mejor contraste */
    color: #030303; /* Contraste mejorado */
    font-size: 16px; /* Tamaño base para accesibilidad */
    line-height: 1.8; /* Mejora la legibilidad */
    margin: 0; /* Elimina márgenes */
    overflow-y: auto; /* Habilita el scroll vertical */
    overflow-x: hidden; /* Evita el scroll horizontal no deseado */
    display: flex;
    flex-direction: column; /* Asegura que el footer esté al final */
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    height: 100vh; /* Ocupa todo el alto de la ventana */
    position: relative;
}

/*Header_______________________________________________________________________________*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 0.9rem;
    min-height: 50px; /* Establece una altura mínima */
    max-height: 70px; /* Establece una altura máxima */
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transition: 0.5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    height: 50px;
}

.logo img {
    width: auto;
    max-width: 80px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.navbar a {
    font-size: 0.8rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 2rem;
    transition: transform 0.1s ease, color 0.3s ease;
    display: inline-block;
    text-shadow: 0 2px 5px rgba(155, 7, 93, 0.973);
}

.navbar a:hover {
    transform: scale(1.15); /* Incrementa ligeramente el efecto de agrandamiento */
    color: rgba(255, 255, 255, 0.973); /* Mantiene el color al pasar el cursor */
    text-shadow: 0 4px 8px rgba(155, 7, 93, 0.973); /* Aumenta la intensidad de la sombra */
    transition: transform 0.3s ease-in-out, color 0.3s ease, text-shadow 0.3s ease; /* Transiciones más rápidas y suaves */
    position: relative;
}

.navbar a:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgba(155, 7, 93, 0.973);
    transition: width 0.4s ease, background-color 0.3s ease;
}

.navbar a:hover {
    color: rgba(155, 7, 93, 0.973); /* Mantiene el color al pasar el cursor */
    text-shadow: 0 4px 8px rgba(155, 7, 93, 0.973); /* Aumenta la intensidad de la sombra */
}

.navbar a:hover::after {
    width: 100%; /* Anima la línea subrayada */
    background-color: rgba(155, 7, 93, 0.973); /* Cambia el color de la línea al pasar el cursor */
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: clamp(2rem, 2.5vw, 2.8rem); /* Responsive font size */
    color: #ffffff; /* White color for better contrast */
    cursor: pointer;
    display: none;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.icons:hover {
    transform: scale(1.2); /* Slight enlargement on hover */
    color: rgba(155, 7, 93, 0.973) /* Light blue color on hover */
}

@media (max-width: 992px) {
    .header {
        padding: clamp(1rem, 2vw, 1.3rem) clamp(3%, 5vw, 5%);
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        max-height: none;
        overflow: hidden;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        z-index: -1;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: auto;
    }

    .navbar a {
        display: block;
        font-size: clamp(1rem, 2.5vw, 1.1rem);
        margin: clamp(0.8rem, 2vw, 1.5rem) 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .logo img {
        width: clamp(80px, 10vw, 100px);
        height: clamp(80px, 10vw, 100px);
        object-fit: contain;
    }

    .logo {
        position: static;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: clamp(80px, 10vw, 100px);
        height: clamp(80px, 10vw, 100px);
        overflow: hidden;
    }
}

@media (max-width: 576px) {
    .home .content h1 {
        font-size: clamp(1.5rem, 4vw, 2rem);
    }

    .home .content p {
        font-size: clamp(0.8rem, 2vw, 0.9rem);
        line-height: clamp(1.2, 2vw, 1.3);
    }

    .home .content img {
        width: clamp(100px, 20vw, 150px);
        filter: drop-shadow(0 0 5px rgba(155, 7, 93, 0.973));
    }

    .pie-pagina .grupo-1 .box {
        width: clamp(70%, 90%, 80%);
        margin: 10px auto;
    }

    .pie-pagina .grupo-1 {
        gap: clamp(5px, 2vw, 10px);
    }

    .logo img {
        max-width: clamp(100px, 15vw, 140px);
        filter: drop-shadow(0 0 5px rgba(247, 247, 247, 0.822));
        height: auto;
    }
}



/*end-Header______________________________________________________________________________*/
h1 {
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 3em;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 20px rgba(0, 0, 1, 9.55);    
}

h3{
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 20px rgba(0, 0, 1, 9.55);    
}
/*body____________________________________________________________________________________*/

.container {
    position: relative; /* Confirmar si afecta otros elementos */
    height: 100vh; /* Verificar si causa desbordamiento en pantallas pequeñas */
    flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
}

.container .video-container .background-image {
    position: absolute; /* Asegura que se superponga correctamente */
    top: 0; /* Alinea con el contenedor */
    left: 0;
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa todo el alto */
    object-fit: cover; /* Ajusta la imagen al contenedor sin deformarla */
    object-position: center center; /* Centra la imagen horizontal y verticalmente */
    z-index: -1; /* Coloca detrás del contenido */
    opacity: 0; /* Comienza invisible */
    transition: opacity var(--transition-duration, 0.5s) ease-in-out; /* Variable CSS para el tiempo de transición */
    will-change: opacity; /* Mejora el rendimiento al indicar cambios */
}

.container .video-container .background-image.show {
    opacity: 1; /* Se hace visible */
}

/*Banner*/
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Revisar estilos del video */
.video-container video,
.video-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Confirmar si recorta contenido importante */
    transform: translate(-50%, -50%); /* Verificar si está correctamente centrado */
}

img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene las proporciones de la imagen */
    display: block; /* Elimina espacios en línea alrededor de la imagen */
    
}

.video-container img {
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin deformarse */
    object-position: center right; /* Muestra la parte derecha de la imagen */
}

@media (max-width: 768px) {
    .video-container img {
        object-position: right; /* En pantallas pequeñas, enfoca más la parte derecha */
    }
}

@media (max-width: 900px) {
    .video-container img {
        object-position: calc(78% - 0px) center; /* Desplaza más hacia la izquierda */
    }
}

section{
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40px; /* Añadido: sube el contenido */
}

.home .content {
    position: relative;
    color: #fff;
    width: 85%;
    margin-top: 0; /* Cambiado de 10px a 0 para subir más */
    opacity: 0;
    animation: entrada 3s 9s forwards; 
    display: flex; /* Asegura que el contenido interno se muestre */
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
}

.home .content.show {
    opacity: 1; /* Se hace visible */
    animation: entrada 3s forwards; /* Se anima la entrada */
}

@keyframes entrada {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Hacer la imagen dentro de .home .content responsiva */
.home .content img {
    border-radius: 50%; /* Bordes redondeados para un diseño moderno */
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.637)); /* Sombra blanca para destacar */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    width: 250px; /* Tamaño inicial */
    height: auto; /* Mantiene proporciones */
    transition: transform 0.3s ease; /* Transición suave para efectos */
}

.home .content img:hover {
    transform: scale(1.05); /* Efecto de zoom sutil al pasar el cursor */
}

@media (max-width: 768px) {
    .home .content img {
        width: 200px; /* Reduce el tamaño en tablets */
    }
}

@media (max-width: 576px) {
    .home .content img {
        width: 150px; /* Reduce aún más el tamaño en móviles */
    }
}

span{
    color: rgb(245, 184, 184);
}

.home .content p {
    font-size: 0.8em;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 1.5; /* Incrementa el espaciado entre líneas para mejor legibilidad */
    margin-top: 20px;
    max-width: 800px; /* Ancho máximo para el párrafo */
    text-align: center; /* Centra el texto */
    color: #ffffff; /* Asegura un color blanco puro */
    display: inline-block; /* Ajusta el fondo al tamaño del texto */
    padding: 10px 15px; /* Agrega un poco de espacio interno */
    border-radius: 5px; /* Bordes ligeramente redondeados */
    background: rgba(0, 0, 0, 0.2); /* Fondo semitransparente para mejor contraste */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); /* Sombra más pronunciada para mejor visibilidad */
    transition: transform 0.3s ease, background 0.3s ease; /* Transiciones suaves */
}

.home .content p:hover {
    transform: scale(1.05); /* Efecto de zoom sutil al pasar el cursor */
    background: rgba(0, 0, 0, 0.7); /* Fondo más oscuro al pasar el cursor */
}

@media (max-width: 768px) {
    .home .content p {
        font-size: 1rem; /* Reduce el tamaño del texto */
        line-height: 1.4; /* Mejora la legibilidad */
    }
}

@media (max-width: 576px) {
    .home .content p {
        font-size: 0.9rem; /* Reduce aún más el tamaño del texto */
        line-height: 1.3; /* Ajusta la legibilidad */
    }
}


.home .content a{
    background: #fff;
    padding: 15px 35px;
    color: #ac1643;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .media-icons {
    position: fixed; /* Cambia de absolute a fixed */
    top: 50%; /* Centra verticalmente */
    right: 10px; /* Pegado al borde derecho */
    transform: translateY(-50%); /* Ajusta el centro vertical */
    display: flex;
    flex-direction: column;
    z-index: 888;
    transition: 0.5s ease;
    /* Opcional: separa un poco del borde derecho */
    margin-right: 10px;
}

.home .media-icons a {
    color: #ffffffc9;
    font-size: 1.6em;
    transition: 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Agrega sombras oscuras */
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
} 

.home .media-icons a:hover{
    transform: scale(1.8);
    color: rgb(180, 36, 103);
}

@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }

    section{
        padding: 100px 20px;
    }

    .home .media-icons{
        right: 15px;
    }

    header .navigation{
        position: relative;
        display: none;
    }
}

/*footer__________________________________________________________________________________*/

.pie-pagina {
    width: 100%;
    background: linear-gradient(to right, #011312, #084440, #011312);
    padding: 20px 0;
    color: #fff;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
    gap: 40px;
    filter: drop-shadow(0 -2px 2px rgba(255, 255, 255, 0.8)); /* Línea blanca arriba del footer */
}

.pie-pagina .grupo-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    gap: 5px;
}

.grupo-1 .box-1,
.grupo-1 .box-2,
.grupo-1 .box-3 {
    margin: 0 auto;
}

.grupo-1 .box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to right, #011312, #084440, #051d1d);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: fit-content;
    height: auto;
}

.grupo-1 .box-1 img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: clamp(100px, 15vw, 150px);
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.979));
}

.grupo-1 .box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to right, #011312, #084440, #051d1d);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grupo-1 .box-2 h2 {
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.grupo-1 .box-2 p {
    font-size: clamp(0.7rem, 1.5vw, 0.9rem);
    line-height: 1.6;
    color: #dcdcdc;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.grupo-1 .box-2 a:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.grupo-1 .box-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 150px;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to right, #011312, #084440, #051d1d);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grupo-1 .box-3 h2 {
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.grupo-1 .box-3 a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: clamp(20px, 5vw, 30px);
    height: clamp(20px, 5vw, 30px);
    gap: 20px;
    background: linear-gradient(to right, #0a5d73, #1fc2d1);
    color: #fff;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    border-radius: 50%;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.925));
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.grupo-1 .box-3 a:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #00bfff, #1e90ff);
}

.pie-pagina .grupo-2 {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to right, #011312, #084440, #051d1d);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grupo-2 .pdf {
    button {
        background: linear-gradient(to right, #011312, #084440, #051d1d);
        color: #fff;
        font-size: clamp(0.7rem, 1.5vw, 0.9rem);
        font-weight: 600;
        padding: clamp(5px, 1vw, 8px) clamp(10px, 2vw, 15px);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
        transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    }

    button:hover {
        transform: scale(1.05);
        background: linear-gradient(to right, #084440, #011312, #084440);
        filter: drop-shadow(0 0 5px rgba(39, 38, 3, 0.973));
    }

    button:active {
        transform: scale(0.95);
        filter: drop-shadow(0 0 5px rgba(13, 162, 207, 0.973));
    }
}

.grupo-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to right, #011312, #084440, #051d1d);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.grupo-3 .credito {
    font-size: clamp(0.7rem, 1.5vw, 0.9rem);
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .pie-pagina .grupo-1 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .pie-pagina .grupo-1 .box {
        width: 90%;
        margin: 0 auto;
    }

    .pie-pagina .grupo-2 {
        text-align: center;
        padding: 10px;
    }

    .pie-pagina .grupo-3 {
        text-align: center;
        padding: 10px;
    }

    .pie-pagina .grupo-3 .credito {
        font-size: 0.8rem;
    }

    .pie-pagina .grupo-1 .box-1 img,
    .pie-pagina .grupo-1 .box-2 img,
    .pie-pagina .grupo-1 .box-3 img {
        width: clamp(100px, 15vw, 150px);
        height: auto;
    }

    .pie-pagina .grupo-1 .box-2 h2,
    .pie-pagina .grupo-1 .box-3 h2 {
        font-size: clamp(1.1rem, 2vw, 1.5rem);
    }

    .pie-pagina .grupo-1 .box-2 p {
        font-size: clamp(0.7rem, 1.5vw, 0.9rem);
    }

    .pie-pagina .grupo-1 .box-3 a {
        width: clamp(20px, 5vw, 30px);
        height: clamp(20px, 5vw, 30px);
        font-size: clamp(0.8rem, 1.5vw, 1rem);
    }

    .pie-pagina .grupo-2 button {
        font-size: clamp(0.7rem, 1.5vw, 0.9rem);
        padding: clamp(5px, 1vw, 8px) clamp(10px, 2vw, 15px);
    }

    .pie-pagina .grupo-3 .credito {
        font-size: clamp(0.7rem, 1.5vw, 0.9rem);
    }
}

@media (max-width: 576px) {
    .pie-pagina .grupo-1 {
        gap: 15px;
    }

    .pie-pagina .grupo-1 .box {
        width: 100%;
    }

    .pie-pagina .grupo-2 button {
        font-size: 0.7rem;
        padding: 5px 10px;
    }

    .pie-pagina .grupo-3 .credito {
        font-size: 0.7rem;
    }

    .pie-pagina .grupo-1 .box-1 img,
    .pie-pagina .grupo-1 .box-2 img,
    .pie-pagina .grupo-1 .box-3 img {
        width: 100px;
    }

    .pie-pagina .grupo-1 .box-2 h2,
    .pie-pagina .grupo-1 .box-3 h2 {
        font-size: 1.1rem;
    }

    .pie-pagina .grupo-1 .box-2 p {
        font-size: 0.7rem;
    }

    .pie-pagina .grupo-1 .box-3 a {
        width: 20px;
        height: 20px;
        font-size: 0.8rem;
    }

    .pie-pagina .grupo-2 button {
        font-size: 0.7rem;
        padding: 5px 10px;
    }

    .pie-pagina .grupo-3 .credito {
        font-size: 0.7rem;
    }
}

/*end-footer______________________________________________________________________________*/

#audio-control {
    position: fixed;
    top: 10px; /* Antes: 80px. Ahora más arriba */
    left: 10px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

#audio-control #mute-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.973)); /* Sombra blanca para destacar */
    backdrop-filter: blur(10px); /* Efecto de desenfoque de fondo */
}

#audio-control #mute-button:hover {
    background-color: #555;
}

.audio-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 10;
    background: rgba(0,0,0,0.7);
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 12px 24px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s;
}
.audio-btn:hover {
    background: rgba(255,255,255,0.8);
    color: #222;
}

@media (max-width: 600px) {
  .video-container #background-video {
    position: static !important;
    width: 90vw !important;
    height: auto !important;
    max-width: 100vw !important;
    margin: 0 auto !important;
    display: block !important;
    border-radius: 12px !important;
    left: unset !important;
    top: unset !important;
    transform: none !important;
    object-fit: contain !important;
    background: #000 !important;
    box-shadow: 0 2px 16px rgba(0,0,0,0.3);
  }
  .video-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}


