@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body {
    display: flex;
    flex-direction: column; /* Asegura que los elementos hijos se apilen verticalmente */
    min-height: 100vh; /* Ocupa al menos el 100% de la altura del viewport */
    margin: 0; /* Elimina márgenes */
    overflow-x: hidden; /* Evita el scroll horizontal no deseado */
    
}

main {
    flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
    padding: 0; /* Elimina el padding adicional */
    margin: 0; /* Elimina cualquier margen */
    background-image: url('../image/images galeria/53_18_11zon.webp'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen para evitar que se encoja */
    filter: brightness(0.8); /* Aplica un filtro de brillo al background-image */
    min-height: 100vh; /* Asegura que ocupe al menos el 100% del viewport */
    display: flex; /* Asegura que el contenido interno se alinee correctamente */
    flex-direction: column; /* Asegura que los elementos hijos se apilen verticalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}

footer {
    margin-top: auto; /* Empuja el footer hacia la parte inferior */
    padding: 20px; /* Mantiene el padding interno del footer */
    background: linear-gradient(to right, #011312, #084440, #051d1d);
    color: #fff;
    text-align: center;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 0.9rem;
    min-height: 50px; /* Establece una altura mínima */
    max-height: 70px; /* Establece una altura máxima */
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    height: 50px;
    filter: drop-shadow(0 0 5px rgba(7, 0, 0, 0.973));
}

.logo img {
    width: auto;
    max-width: 80px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0 0 5px rgba(30, 255, 0, 0.973));
}

.navbar a {
    font-size: 0.8rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 2rem;
    transition: transform 0.1s ease, color 0.3s ease;
    display: inline-block;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar a:hover {
    transform: scale(1.15); /* Incrementa ligeramente el efecto de agrandamiento */
    color: rgb(9, 255, 0); /* Mantiene el color al pasar el cursor */
    text-shadow: 0 4px 8px rgba(0, 255, 0, 0.7); /* Aumenta la intensidad de la sombra */
    transition: transform 0.3s ease-in-out, color 0.3s ease, text-shadow 0.3s ease; /* Transiciones más rápidas y suaves */
    position: relative;
}

.navbar a:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(51, 255, 0);
    transition: width 0.4s ease, background-color 0.3s ease;
}

.navbar a:hover {
    color: rgb(0, 255, 42); /* Mantiene el color al pasar el cursor */
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Aumenta la intensidad de la sombra */
}

.navbar a:hover::after {
    width: 100%; /* Anima la línea subrayada */
    background-color: rgb(21, 255, 0); /* Cambia el color de la línea al pasar el cursor */
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: clamp(2rem, 2.5vw, 2.8rem); /* Responsive font size */
    color: #ffffff; /* White color for better contrast */
    cursor: pointer;
    display: none;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.icons:hover {
    transform: scale(1.2); /* Slight enlargement on hover */
    color: #00ff22; /* Light blue color on hover */
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8)); /* Glow effect */
}

@media (max-width: 992px) {
    .header {
        padding: clamp(1rem, 2vw, 1.3rem) clamp(3%, 5vw, 5%);
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        max-height: none;
        overflow: hidden;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        z-index: -1;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: auto;
    }

    .navbar a {
        display: block;
        font-size: clamp(1rem, 2.5vw, 1.1rem);
        margin: clamp(0.8rem, 2vw, 1.5rem) 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .logo img {
        width: clamp(80px, 10vw, 100px);
        height: clamp(80px, 10vw, 100px);
        object-fit: contain;
    }

    .logo {
        position: static;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: clamp(80px, 10vw, 100px);
        height: clamp(80px, 10vw, 100px);
        overflow: hidden;
    }
}

@media (max-width: 576px) {
    .home .content h1 {
        font-size: clamp(1.5rem, 4vw, 2rem);
    }

    .home .content p {
        font-size: clamp(0.8rem, 2vw, 0.9rem);
        line-height: clamp(1.2, 2vw, 1.3);
    }

    .home .content img {
        width: clamp(100px, 20vw, 150px);
        filter: drop-shadow(0 0 5px rgba(0, 255, 13, 0.973));
    }

    .pie-pagina .grupo-1 .box {
        width: clamp(70%, 90%, 80%);
        margin: 10px auto;
    }

    .pie-pagina .grupo-1 {
        gap: clamp(5px, 2vw, 10px);
    }

    .logo img {
        max-width: clamp(100px, 15vw, 140px);
        filter: drop-shadow(0 0 5px rgba(0, 255, 42, 0.973));
        height: auto;
    }
}

/*end-Header_____________________________________________________________________________*/
/*body___________________________________________________________________________________*/

/*end body________________________________________________________________________________*/
/*footer__________________________________________________________________________________*/

.pie-pagina {
    width: 100%;
    background: linear-gradient(to right, #011312, #084440, #011312);
    padding: 20px 0;
    color: #fff;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
    gap: 20px;
    filter: drop-shadow(0 -2px 2px rgba(255, 255, 255, 0.8)); /* Línea blanca arriba del footer */
}

.pie-pagina .grupo-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    gap: 5px;
}

.grupo-1 .box-1,
.grupo-1 .box-2,
.grupo-1 .box-3 {
    margin: 0 auto;
}

.grupo-1 .box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to right, #011312, #084440, #051d1d);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: fit-content;
    height: auto;
}

.grupo-1 .box-1 img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: clamp(100px, 15vw, 150px);
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.979));
}

.grupo-1 .box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to right, #011312, #084440, #051d1d);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grupo-1 .box-2 h2 {
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.grupo-1 .box-2 p {
    font-size: clamp(0.7rem, 1.5vw, 0.9rem);
    line-height: 1.6;
    color: #dcdcdc;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.grupo-1 .box-2 a:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.grupo-1 .box-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 150px;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to right, #011312, #084440, #051d1d);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grupo-1 .box-3 h2 {
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.grupo-1 .box-3 a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: clamp(20px, 5vw, 30px);
    height: clamp(20px, 5vw, 30px);
    gap: 20px;
    background: linear-gradient(to right, #0a5d73, #1fc2d1);
    color: #fff;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    border-radius: 50%;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.925));
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.grupo-1 .box-3 a:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #00bfff, #1e90ff);
}

.pie-pagina .grupo-2 {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to right, #011312, #084440, #051d1d);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grupo-2 .pdf {
    button {
        background: linear-gradient(to right, #011312, #084440, #051d1d);
        color: #fff;
        font-size: clamp(0.7rem, 1.5vw, 0.9rem);
        font-weight: 600;
        padding: clamp(5px, 1vw, 8px) clamp(10px, 2vw, 15px);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
        transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    }

    button:hover {
        transform: scale(1.05);
        background: linear-gradient(to right, #084440, #011312, #084440);
        filter: drop-shadow(0 0 5px rgba(39, 38, 3, 0.973));
    }

    button:active {
        transform: scale(0.95);
        filter: drop-shadow(0 0 5px rgba(13, 162, 207, 0.973));
    }
}

.grupo-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to right, #011312, #084440, #051d1d);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.grupo-3 .credito {
    font-size: clamp(0.7rem, 1.5vw, 0.9rem);
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .pie-pagina .grupo-1 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .pie-pagina .grupo-1 .box {
        width: 90%;
        margin: 0 auto;
    }

    .pie-pagina .grupo-2 {
        text-align: center;
        padding: 10px;
    }

    .pie-pagina .grupo-3 {
        text-align: center;
        padding: 10px;
    }

    .pie-pagina .grupo-3 .credito {
        font-size: 0.8rem;
    }

    .pie-pagina .grupo-1 .box-1 img,
    .pie-pagina .grupo-1 .box-2 img,
    .pie-pagina .grupo-1 .box-3 img {
        width: clamp(100px, 15vw, 150px);
        height: auto;
    }

    .pie-pagina .grupo-1 .box-2 h2,
    .pie-pagina .grupo-1 .box-3 h2 {
        font-size: clamp(1.1rem, 2vw, 1.5rem);
    }

    .pie-pagina .grupo-1 .box-2 p {
        font-size: clamp(0.7rem, 1.5vw, 0.9rem);
    }

    .pie-pagina .grupo-1 .box-3 a {
        width: clamp(20px, 5vw, 30px);
        height: clamp(20px, 5vw, 30px);
        font-size: clamp(0.8rem, 1.5vw, 1rem);
    }

    .pie-pagina .grupo-2 button {
        font-size: clamp(0.7rem, 1.5vw, 0.9rem);
        padding: clamp(5px, 1vw, 8px) clamp(10px, 2vw, 15px);
    }

    .pie-pagina .grupo-3 .credito {
        font-size: clamp(0.7rem, 1.5vw, 0.9rem);
    }
}

@media (max-width: 576px) {
    .pie-pagina .grupo-1 {
        gap: 15px;
    }

    .pie-pagina .grupo-1 .box {
        width: 100%;
    }

    .pie-pagina .grupo-2 button {
        font-size: 0.7rem;
        padding: 5px 10px;
    }

    .pie-pagina .grupo-3 .credito {
        font-size: 0.7rem;
    }

    .pie-pagina .grupo-1 .box-1 img,
    .pie-pagina .grupo-1 .box-2 img,
    .pie-pagina .grupo-1 .box-3 img {
        width: 100px;
    }

    .pie-pagina .grupo-1 .box-2 h2,
    .pie-pagina .grupo-1 .box-3 h2 {
        font-size: 1.1rem;
    }

    .pie-pagina .grupo-1 .box-2 p {
        font-size: 0.7rem;
    }

    .pie-pagina .grupo-1 .box-3 a {
        width: 20px;
        height: 20px;
        font-size: 0.8rem;
    }

    .pie-pagina .grupo-2 button {
        font-size: 0.7rem;
        padding: 5px 10px;
    }

    .pie-pagina .grupo-3 .credito {
        font-size: 0.7rem;
    }
}

/*end-footer______________________________________________________________________________*/

.vacio{
    width: 100%;
    height: 80px;
}

.video-container {
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo para mejor legibilidad */
    margin: 20px auto; /* Centra el contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px; /* Incrementa el espacio entre los elementos */
    padding: 25px; /* Aumenta el espacio alrededor de la caja */
    border-radius: 15px; /* Bordes más redondeados */
    background: linear-gradient(to right, #01131280, #0844407a); /* Fondo con degradado */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease; /* Transición suave para efectos */
}

.video-box h4 {
    width: 100%;
    font-size: clamp(1.8rem, 5vw, 2.5rem); /* Ajusta el tamaño del texto de forma responsiva */
    color: #ffffff; /* Cambia a blanco puro para mayor contraste */
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Incrementa el espacio debajo del texto */
    font-weight: 800; /* Hace el texto más destacado */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 2px; /* Incrementa el espaciado entre letras */
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9); /* Agrega una sombra más pronunciada */
    transition: color 0.3s ease, transform 0.3s ease; /* Transición suave para efectos */
}

.Prensa-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto); /* Define una altura mínima para las filas */
    align-items: center; /* Alinea los elementos verticalmente */
    justify-items: center; /* Alinea los elementos horizontalmente */
    gap: 20px; /* Espacio entre los elementos */
    display: flex; /* Usar flexbox para organizar los elementos */
    flex-wrap: wrap; /* Permitir que los elementos se ajusten a la siguiente línea */
    justify-content: center; /* Centrar los elementos horizontalmente */
    max-width: 1200px; /* Limitar el ancho máximo */
    border-radius: 20px; /* Bordes más redondeados */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para efectos */
}

.Prensa-box img {
    width: clamp(100px, 15vw, 130px); /* Ajusta el tamaño de las imágenes de forma responsiva */
    height: auto; /* Mantiene las proporciones */
    border-radius: 15px; /* Bordes más redondeados */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); /* Sombra más pronunciada */
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; /* Transición suave para efectos */
    margin-top: 20px; /* Reduce el margen superior */
    filter: brightness(0.9); /* Aplica un filtro de brillo */
}

.Prensa-box img:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el cursor */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Sombra más intensa al pasar el cursor */
    filter: brightness(1); /* Restaura el brillo al pasar el cursor */
}

.Prensa-box .cinelatino {
    width: clamp(70%, 50%, 400px); /* Ajusta el ancho para ocupar el 90% del viewport al minimizar */
    height: auto;
    text-align: center; /* Centra el contenido */
    background-color: #ffffff; /* Fondo blanco para contraste */
    border-radius: 15px; /* Bordes redondeados */
    gap: 20px; /* Espacio entre los elementos internos */
    padding: 20px; /* Espacio interno para mejor separación */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para resaltar el contenedor */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para efectos */
}

.Prensa-box .cinelatino:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el cursor */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada al pasar el cursor */
}

/* Styles for paragraphs inside .cinelatino */
.Prensa-box .cinelatino p {
    font-size: clamp(0.9rem, 2vw, 1.2rem); /* Ajusta el tamaño del texto de forma responsiva */
    color: #333333; /* Cambia a un gris oscuro para mejor contraste */
    text-align: center; /* Centra el texto */
    margin: 15px 0; /* Ajusta el margen superior e inferior */
    font-weight: 600; /* Hace el texto moderadamente destacado */
    text-transform: capitalize; /* Convierte la primera letra de cada palabra a mayúscula */
    letter-spacing: 1px; /* Ajusta ligeramente el espaciado entre letras */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Agrega una sombra sutil para resaltar el texto */
    line-height: 1.5; /* Mejora la legibilidad con un mayor espaciado entre líneas */
}

/* Styles for iframes inside .cinelatino */
.Prensa-box .cinelatino iframe {
    width: 100%; /* Asegura que el iframe ocupe todo el ancho disponible */
    max-width: 800px; /* Limita el ancho máximo para mejor legibilidad */
    aspect-ratio: 16 / 9; /* Mantiene una proporción estándar de video */
    border-radius: 15px; /* Bordes más redondeados para el iframe */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); /* Sombra más pronunciada para resaltar el iframe */
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; /* Transición suave para efectos */
    margin-bottom: 25px; /* Incrementa el espacio inferior */
    filter: brightness(0.95); /* Aplica un filtro de brillo sutil */
}

.Prensa-box .cinelatino a {
    display: inline-block; /* Asegura que el enlace se comporte como un bloque */
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: #ffffff; /* Cambia a blanco puro para mayor contraste */
    font-size: clamp(0.9rem, 1.5vw, 1.2rem); /* Ajusta el tamaño del texto de forma responsiva */
    padding: 12px 25px; /* Incrementa el espacio alrededor del texto del enlace */
    border-radius: 8px; /* Bordes más redondeados para el enlace */
    background: linear-gradient(to right, #4c00ff, #8a2be2); /* Fondo con degradado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para resaltar el enlace */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para efectos */
}

.botones button {
    font-size: clamp(1rem, 2.5vw, 1.2rem); /* Ajusta el tamaño del texto de forma responsiva */
    font-weight: 700; /* Hace el texto más destacado */
    padding: clamp(10px, 2vw, 15px) clamp(20px, 5vw, 30px); /* Ajusta el tamaño del botón de forma responsiva */
    border: none;
    border-radius: 12px; /* Bordes más redondeados */
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease; /* Transición suave para efectos */
    margin: 20px auto; /* Centra el botón horizontalmente */
    text-align: center; /* Centra el texto dentro del botón */
    text-decoration: none; /* Elimina el subrayado del enlace */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 1.8px; /* Incrementa el espaciado entre letras */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); /* Sombra más pronunciada para destacar el texto */
    width: clamp(200px, 20vw, 260px); /* Ancho ajustable de forma responsiva */
    height: clamp(50px, 10vw, 70px); /* Altura ajustable de forma responsiva */
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para resaltar el botón */
}

.botones button:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño del botón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada al pasar el cursor */
    background: linear-gradient(to right, #8a2be2, #4c00ff); /* Cambia el degradado al pasar el cursor */
    color: #f0e68c; /* Cambia el color del texto al pasar el cursor */
}

.botones button:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño al hacer clic */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más sutil al hacer clic */
    background: linear-gradient(to right, #3a00cc, #6a1bb2); /* Fondo más oscuro al hacer clic */
}

.botones button:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño del botón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada al pasar el cursor */
}

.botones button:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño al hacer clic */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más sutil al hacer clic */
}

@media (max-width: 768px) {
    main {
        padding: 10px; /* Reduce el padding */
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 90%; /* Reduce el tamaño de los encabezados */
    }

    p {
        font-size: 0.9rem; /* Reduce el tamaño de los párrafos */
        line-height: 1.4; /* Ajusta el espaciado entre líneas */
    }

    img {
        max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
        height: auto; /* Mantiene las proporciones */
    }

    a {
        font-size: 0.9rem; /* Reduce el tamaño de los enlaces */
    }

    button {
        font-size: 0.9rem; /* Reduce el tamaño del texto en los botones */
        padding: 8px 15px; /* Ajusta el padding de los botones */
    }

    iframe {
        width: 100%; /* Asegura que el iframe ocupe todo el ancho disponible */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .icon {
        font-size: 1.5rem; /* Reduce el tamaño de los íconos */
    }

    .Prensa-box {
        width: 90%; /* Ocupa el 90% del ancho */
        margin: 0 auto; /* Centra el contenido horizontalmente */
        gap: 20px; /* Reduce el espacio entre columnas */
    }

    .Prensa-box .cinelatino {
        width: 100%; /* Ajusta el ancho al 100% */
    }
}

@media (max-width: 576px) {
    main {
        padding: 5px; /* Reduce aún más el padding */
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 80%; /* Reduce aún más el tamaño de los encabezados */
    }

    p {
        font-size: 0.8rem; /* Reduce aún más el tamaño de los párrafos */
        line-height: 1.3; /* Ajusta el espaciado entre líneas */
    }

    a {
        font-size: 0.8rem; /* Reduce aún más el tamaño de los enlaces */
    }

    button {
        font-size: 0.8rem; /* Reduce aún más el tamaño del texto en los botones */
        padding: 6px 10px; /* Ajusta aún más el padding de los botones */
    }

    iframe {
        width: 100%; /* Asegura que el iframe ocupe todo el ancho disponible */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .icon {
        font-size: 1.2rem; /* Reduce aún más el tamaño de los íconos */
    }

    .Prensa-box {
        width: 90%; /* Ocupa el 90% del ancho */
        margin: 0 auto; /* Centra el contenido horizontalmente */
        gap: 15px; /* Reduce el espacio entre columnas */
    }

    .Prensa-box .cinelatino {
        width: 100%; /* Ajusta el ancho al 100% */
    }

    .video-container,
    .video-box,
    .Prensa-box {
        width: 90% !important; /* Forzar el 90% del ancho */
        margin: 0 auto; /* Centra el contenido horizontalmente */
    }

    .Prensa-box {
        gap: 15px; /* Reduce el espacio entre columnas */
    }
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.video-wrapper.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.video-wrapper .close-video {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 1100;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
}
